<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Employee</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous">

    <!-- Reference Bootstrap files -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        label{
            color: darkslategray;
        }
        table tbody tr td{
            padding: 12px;
        }
        .error {
            color: red
        }
    </style>
</head>
<body style="background-color: azure; align-content: center; overflow: auto">
<div class="Container " style="position: fixed; top: 20%; left: 30%; float: left">
    <div><img th:src="@{/images/gene-app.png}" src="../static/images/gene-app.png" width="80px" height="70px"
              style=" float: left; top: 1%; margin-bottom: 20px;position: fixed; left: 40%;">
        <div style="top: 11%; width: 40%;left: 34%; position: fixed; font-size: 20px; float: left;
           color: darkslategray">Please update your details </div>
        <div style="margin-top: 0; background-color: white; border: 1px solid aqua">
            <form action="#" th:action="@{/reviews/postCustomerReview(customerId=${customerId})}"
                  th:object="${newReview}"
                  method="POST"
                  style="padding: 10px">
                <br>
                <h5>Save New Review for Customer</h5>
                <input type="hidden" th:field="*{id}"/>
                <table style=" width: 150%">
                    <tbody style=" overflow: auto">
                    <tr>
                        <td><input type="text" th:field="*{reviewMessage}" class="form-control"
                                   placeholder="Type new review message here"></td>
                        <td th:if="${#fields.hasErrors('reviewMessage')}" class="error" th:errors="*{reviewMessage}">
                            Review-Message Error
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <input type="hidden" name="customerId" th:field="*{customer}" class="form-control">
                            <input type="number" name="customerId" th:value="${customerId}"
                                   disabled class="form-control">

                        </td>
                    </tr>
                    <tr class="form-group">
                        <td><input type="submit" value="Save" class="btn btn-primary" style="width: 100%"
                                   onclick="if(!(confirm('Are you sure to Save Review?' +
                                 ' Once Saved you cannot Delete or Update'))) return false"/>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>


    <div>
    </div>

</div>

</body>
</html>