<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <title>Login Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Reference Bootstrap files -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        label {
            color: darkslategray;
        }

        table tbody tr td {
            padding: 12px;
            margin-bottom: 10%;

        }

        .resumeProperties {
            background-color: white;
            border: 1px solid aqua;
            padding: 15px;
            width: 128%;
            height: 250px;
            overflow: auto;
        }
    </style>
</head>

<body style="background-color: azure; align-content: center; ">
<span><img th:src="@{/images/gene-app.png}" src="../static/images/gene-app.png" width="80px" height="70px"
           style=" float: left; top: 2%; margin-bottom: 20px;position: fixed; left: 38%">
    </span>
<span style="top: 5%; width: 20%;left: 43%; position: fixed; font-size: 20px;
    color: darkslategray">Upload Resume here!</span>
<div style="position: fixed; top: 5%; width: 100%; left: 20% ">
    <div id="loginbox" style="margin-top: 50px; "
         class="mainbox col-md-3 col-md-offset-2 col-sm-6 col-sm-offset-2">

        <div class="Container" style=" padding: 5px; ">
            <div>
                <form action="#" th:action="@{/customer/uploaded_resume(userId=${customerIdR})}"
                      th:object="${resumeObject}" method="POST" enctype="multipart/form-data">
                    <input type="hidden" th:field="*{id}"/>

                    <div style="border: 1px solid aqua; background-color: white; width: 128%">
                        <table>

                            <tr class="form-group">
                                <td><label for="cResume">Resume Upload:</label></td>
                                <td><input type="file" class="form-control" id="cResume"
                                           name="muiltiPartFile"
                                           accept="application/pdf">
                                </td>
                            </tr>

                            <tr class="form-group">
                                <td><input type="submit" value="Upload" class="btn btn-primary"/></td>
                            </tr>
                            <div style="clear:both"></div>
                        </table>
                    </div>
                </form>
            </div>
            <br>
            <br>
            <div th:if="${userResume != null}">
                <div class="resumeProperties">
                    <div>
                        <div style="float: left; font-size: 18px; font-weight: bold; color: darkslategray;
                         position: fixed; z-index: 1">Resume:
                        </div>
                        <br><br>
                        <div style="text-align: center">
                            <div><img th:src="@{/images/resume-app-icon.jpg}" src="../static/images/resume-app-icon.jpg"
                                      width="90px" height="90px">
                            </div>
                            <div><a th:href="@{'/resume/download'+'?resumeId='+ ${userResume.getId()}}">[[${userResume.getResumeName()}]]</a>
                            </div>
                            <div>([[${#numbers.formatInteger(userResume.getResumeSize(), 4, 'COMMA')}]] bytes)</div>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
            <div th:unless="${userResume != null}">
                <div class="resumeProperties">
                    <div>
                        <div style="float: left; font-size: 18px;font-weight: bold; color: darkslategray;
                        position: fixed; z-index: 1">Resume:
                        </div>
                        <br><br><br>
                        <p style="margin-left: 2%; font-size: 18px">There is no file found..</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
<span style="bottom: 10%; width: 20%;left: 42%; position: fixed; font-size: 14px;
    color: darkslategray"><div style="text-align: center">
        <a class="alink">Privacy</a>
        <a class="alink">Terms & Conditions</a>
        <p style="margin-top: 2%" class="alink"><sup><img th:src="@{/images/gene-app.png}"
                                                          src="../static/images/gene-app.png"
                                                          width="24px"
                                                          height="23px"></sup>Copyright<sup>&copy;</sup> 2020. All rights Research</p>
    </div></span>
</body>
</html>