<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <title>ERMC</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous">
</head>

<body>

<div class="container" style="margin: 2% 10%">

    <h3>GeneHelix Customers' List</h3>
    <hr>

    <form th:action="@{/customers-generalist/search}" class="form-inline">

        <input class="form-control  ml-5 mr-sm-2 mb-3" type="text" name="searchHomeLogonCustomer"
               placeholder="Search by name"/>

        <input class="btn btn-success mb-3" type="submit" value="Search">
    </form>


    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="Customer : ${Customers_list}">

            <td th:text="${Customer.firstName}"/>
            <td th:text="${Customer.lastName}"/>
            <td th:text="${Customer.email}"/>

        </tr>
        </tbody>
    </table>
    <div style="clear: both"></div>
    <div>
        <a th:href="@{/home-page}" class="btn btn-outline-primary mt-2" style="margin-top: 11px">
            Home page
        </a>
        <div style="float: right; width: 80%; margin-right: 5%; margin-top: 10px">
            <div th:if="${totalPage > 1}">
                <div class="row col-sm-12">
                    <div class="col-sm-3">
                       <span class="btn btn-primary">Customers:
                           <span class="badge badge-light">[[${totalItems}]]
                       </span>
                       </span>
                    </div>

                    <div class="pagination">
                        <div class="page-item">
                            <a class="page-link" th:if="${currentPage > 1}"
                               th:href="@{'/customers-generalist/'+ ${1}} ">First</a>
                            <span class="page-link" th:unless="${currentPage > 1}">First</span>
                        </div>
                        <div>
                            <a class="page-link" th:if="${currentPage > 1}"
                               th:href="@{'/customers-generalist/'+ ${currentPage - 1}} ">Previous</a>
                            <span class="page-link" th:unless="${currentPage > 1}">Previous</span>
                        </div>

                        <span class="page-item" th:each="i : ${#numbers.sequence(1, totalPage)}">
                    <a class="page-link" th:if="${currentPage != i}"
                       th:href="@{'/customers-generalist/'+ ${i}}">
                        [[${i}]]</a>
                    <span style="background-color: blue" class="page-link"
                          th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;</span>

                        <div class="page-item">
                            <a class="page-link" th:if="${currentPage < totalPage}"
                               th:href="@{'/customers-generalist/'+ ${currentPage + 1}}">
                                Next</a>
                            <span class="page-link" th:unless="${currentPage < totalPage}">Next</span>
                        </div>

                        <div class="page-item">
                            <a class="page-link" th:if="${currentPage < totalPage}"
                               th:href="@{'/customers-generalist/'+ ${totalPage}}">
                                Last</a>
                            <span class="page-link" th:unless="${currentPage < totalPage}">Last</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>

