<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <title>ERMC</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous">
</head>

<body>

<div class="container" style="margin: 2% 10%">

    <h3>GeneHelix Customer's Service List</h3>
    <hr>
<div>
    <a th:href="@{/dashboard}" class="btn btn-primary btn mr-5 mb-3" style=" float: left">
        Dashboard
    </a>
    <div th:if="${userEmployee != null}">
        <form action="#" th:action="@{'/hc-search/employee?employeeId='+${employeeId}}" method="GET" class="form-inline"  >
            <input type="text" name="searchParam" class="form-control ml-5 mr-sm-2 mb-3" placeholder="Search by name"/>
            <input type="submit" value="Search" class="btn btn-success mb-3"/>
            <input type="hidden" name="employeeId" th:value="${employeeId}"/>
        </form>
    </div>

    <div th:unless="${userEmployee != null}">
        <form action="#" th:action="@{/hc-search/customer(userId=${customerId})}" method="GET" class="form-inline">
            <input type="text" name="searchParam" class="form-control  ml-5 mr-sm-2 mb-3" placeholder="Search by name"/>
            <input type="submit" value="Search" class="btn btn-success mb-3"/>
            <input type="hidden" name="userId" th:value="${customerId}"/>
        </form>
    </div>

</div>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr th:if="${hcServiceCustomer == null}">
            <th>Name</th>
            <th>Date</th>
        </tr>

        <tr th:unless="${hcServiceCustomer == null}">
            <th>Name</th>
            <th>Date</th>
            <th>Medical Result Status</th>
        </tr>
        </thead>

        <tbody th:if="${hcServiceCustomer == null && hcServices != null}">
        <tr th:each="hcService : ${hcServices}">

            <td th:text="${hcService.name}"/>
            <td th:text="${hcService.date}"/>

        </tr>
        </tbody>

        <tbody th:if="${hcServiceCustomer != null && hcServices != null}">
        <tr th:each="hcService : ${hcServices}">

            <td th:text="${hcService.name}"/>
            <td th:text="${hcService.date}"/>
            <td th:if="${hcService.medicalResult_status != null}">
                <div th:if="${hcService.medicalResult_status.status != null}">
                    [[${hcService.medicalResult_status.status}]]
                </div></td>


            <td th:unless="${hcService.medicalResult_status != null}">NR</td>

        </tr>
        </tbody>
    </table>
    <div style="clear: both"></div>
    <div th:if="${hcServices.size() == 0}">
        <div class="alert alert-danger" role="alert">No service found...</div>
    </div>
</div>
</body>
</html>

